<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= @room.name %>
      <%# コントローラーの@room(チャットルーム名) %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
      <%# 削除するチャットルームを区別するために、定義している@roomを引数にし、room_path(@room)と指定。 %>
    </div>
  </div>
</div>

<div class="messages">
  <%= render partial: 'message', collection: @messages %>
<%# PicTweetではeachメソッドで繰り返し一覧表示していたものを、collectionオプションを使うことで、一行で記述できる %>
<%# <%= render partial: 'hoge', collection: 繰り返し表示する要素が入っているインスタンス %>
</div> 

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
<%# form_withの引数に@room, @messageの２つを渡している。それに応じたコントローラーのindexアクションに定義する必要あり。 %>

<%# https://master.tech-camp.in/curriculums/4217 %>


  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>
